#app {
  // 主体区域
  .main-container {
    min-height: 100%;
  } // 侧边栏
  .sidebar-container {
    transition: width 0.20s;
    width: 160px!important;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    a {
      display: inline-block;
      width: 100%;
    }
    .svg-icon {
      margin-right: 8px;
      color: white;
    }
    .el-menu {
      border: none;
      width: 100%;
      
    }
  }
  .hideSidebar {
    .sidebar-container,.sidebar-container .el-menu {
      width: 52px!important;
      // overflow: inherit;
    }
  }
  .hideSidebar {
    display: flex!important;;
    .submenu-title-noDropDown {
      padding-left: 20px!important;
      flex: 1!important;
      display: inline-block!important;
      // position: relative;
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        opacity: 0;
        display: inline-block;
      }
      // &:hover {
      //   span {
      //     color: black;
      //     display: block;
      //     border-radius: 3px;
      //     z-index: 1002;
      //     width: 140px;
      //     height: 56px;
      //     visibility: visible;
      //     position: absolute;
      //     right: -145px;
      //     text-align: left;
      //     text-indent: 20px;
      //     top: 0;
      //     background-color: $subMenuBg!important;
      //     opacity: 1;
      //   }
      // }
    }
    .el-submenu {
      &>.el-submenu__title {
        padding-left: 20px!important;
        &>span {
          display: none;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
      .nest-menu {
        .el-submenu__icon-arrow {
          display: inline-block!important;
        }
        span {
          display: inline-block!important;
        }
      }
    }
  }
  .nest-menu .el-submenu>.el-submenu__title,
  .el-submenu .el-menu-item {
    display: inline-block!important;
    min-width: 180px!important;
    background-color: $subMenuBg!important;
    &:hover {
      // background-color: $menuHover!important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px!important;
  }
}
