<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.CodeMapper">
  <resultMap id="CodeMap" type="com.zoctan.api.model.Code">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contest_id" jdbcType="BIGINT" property="contestId" />
    <result column="problem_id" jdbcType="BIGINT" property="problemId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="time_used" jdbcType="REAL" property="timeUsed" />
    <result column="memory_used" jdbcType="REAL" property="memoryUsed" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="code" jdbcType="LONGVARCHAR" property="code" />
  </resultMap>

  <resultMap id="UserProblemCodeMap" type="com.zoctan.api.model.Code" extends="CodeMap">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>

  <select id="findAllUserProblemSubmitCode" resultMap="UserProblemCodeMap">
    SELECT
    c.*,
    u.id as user_id
    FROM `code` c
    LEFT JOIN `user_code` uc ON uc.code_id = c.id
    LEFT JOIN `user` u ON u.id = uc.user_id
    WHERE c.contest_id = #{contestId} AND c.problem_id = #{problemId} AND u.username = #{username}
  </select>

  <select id="findAllUserSubmitCode" resultMap="UserProblemCodeMap">
    SELECT
    c.*,
    u.id as user_id
    FROM `code` c
    LEFT JOIN `user_code` uc ON uc.code_id = c.id
    LEFT JOIN `user` u ON u.id = uc.user_id
    WHERE c.contest_id = #{contestId} AND u.username = #{username}
  </select>
</mapper>