<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ContestMapper">
    <resultMap id="ContestMap" type="com.zoctan.api.model.Contest">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="permitted" jdbcType="BIT" property="permitted"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="after_show" jdbcType="SMALLINT" property="afterShow"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>

    <resultMap id="ContestWithJoinCountMap" type="com.zoctan.api.model.Contest" extends="ContestMap">
        <result column="join_count" jdbcType="BIGINT" property="joinCount"/>
    </resultMap>

    <select id="findAll" resultMap="ContestWithJoinCountMap">
        SELECT
            c.id,
            c.title,
            c.start_time,
            c.end_time,
            c.permitted,
            c.status,
            c.after_show,
            c.password,
            (SELECT COUNT(*)
             FROM user_contest uc
             WHERE c.id = uc.contest_id) AS join_count
        FROM contest c
    </select>

    <select id="findHot" resultMap="ContestWithJoinCountMap">
        SELECT *
        FROM (SELECT
                  c.id,
                  c.title,
                  c.start_time,
                  (SELECT COUNT(*)
                   FROM user_contest uc
                   WHERE c.id = uc.contest_id) AS join_count
              FROM contest c) c
        WHERE c.join_count != 0
        ORDER BY c.join_count DESC
    </select>

    <select id="findOne" resultMap="ContestWithJoinCountMap">
        SELECT
            c.*,
            (SELECT COUNT(*)
             FROM user_contest uc
             WHERE c.id = uc.contest_id) AS join_count
        FROM contest c
        WHERE c.id = #{contestId}
    </select>

</mapper>