<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.FavoriteNoteMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.model.FavoriteNote">
    <id column="favorite_id" jdbcType="BIGINT" property="favoriteId" />
    <id column="note_id" jdbcType="BIGINT" property="noteId" />
  </resultMap>
</mapper>